.search {
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 10px;
    width: 150px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  input {
    margin-bottom: 2rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 1rem;
  }
  *,*:focus,*:hover{
    outline:none;
}